#loof_info_wrapper {
    display : flex;
    flex-direction: column;
}

#loof_example_wrapper {
    display : flex;
    align-items: center;
    justify-content: space-around;
    height : 325px;
    align-items: baseline;
}

#loof_example_data {
    display : flex;
    align-items: left;
    width : 60%;
    font-size: 40px;
    justify-content: space-evenly;
    margin-top : 75px;
    flex-direction: column;
}

.blue {
    color : #2D46B9;
}

.red {
    color : #A12568;
}

#loof_example_ment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #ababab;
    text-align: center;
    font-size: 30px;
    height: 150px;
    flex-direction: column;
}

.purple {
    color : #AE00FB;
}

.loof_example {
    padding : 0px 20px;
    color : #AE00FB;
    font-weight: 900;
}

.underline {
    border-bottom: solid 3px black;
    padding-bottom: 40px;
    margin-top : 65px;
}

#length_size {
    color : #AE00FB;
}

#loof_result_img {
    position: absolute;
    right: 10px;
    margin-top: 80px;
}

.bold {
    font-weight: 900;
}

.green {
    color : #7EB5A6;
}