body {
    overflow-y: hidden;
}

#condition_info_wrapper {
    display : flex;
    flex-direction: column;
}

#condition_example_wrapper {
    display : flex;
    align-items: center;
    height : 477px;
    /* align-items: baseline; */
}

#condition_example_data {
    display : flex;
    align-items: left;
    width : 25%;
    font-size: 24px;
    justify-content: space-evenly;
    margin-top : 0px;
    flex-direction: column;
}

.blue {
    color : #2D46B9;
}

.red {
    color : #B42B51;
}

.yellow {
    color : #FFB319;
    font-weight: 900;
}

#condition_example_ment {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px #ababab;
    text-align: center;
    font-size: 30px;
    height: 150px;
    flex-direction: column;
}

.purple {
    color : #AE00FB;
}

.condition_example {
    padding : 0px 20px;
    color : #AE00FB;
    font-weight: 900;
}

.underline {
    border-bottom: solid 3px black;
    padding-bottom: 40px;
    margin-top : 65px;
}

#length_size {
    color : #AE00FB;
}

#condition_select_value {
    border-right: solid 1px #ababab;
    height: 100%;
    width : 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px; */
}

#condition_select_value div {
    border-bottom: solid 1px #ababab;
    width: 100%;
    text-align: center;
    height: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
}

.select {
    background-color: darkblue;
    color: white;
}

#condition_result_value {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    align-items: center;
}

#condition_result_showing_wrapper {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 380px;
}

#condition_result_showing_wrapper div {
    font-size: 30px;
    font-weight: bold;
}

.yellow {
    color : #00C1D4;
    font-weight: 900;
}